node-red flow.json
[
    {
        "id": "3b42af96.1b72a",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "452c15d8.337dfc",
        "type": "ui_form",
        "z": "3b42af96.1b72a",
        "name": "",
        "label": "",
        "group": "9c0aa41c.e60498",
        "order": 3,
        "width": "0",
        "height": "0",
        "options": [
            {
                "label": "Enter the input",
                "value": "input",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "input": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "x": 70,
        "y": 160,
        "wires": [
            [
                "e686e2ab.8d501"
            ]
        ]
    },
    {
        "id": "e686e2ab.8d501",
        "type": "function",
        "z": "3b42af96.1b72a",
        "name": "input parsing",
        "func": "msg.payload = msg.payload.input;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 210,
        "y": 220,
        "wires": [
            [
                "4377bc73.b41d94",
                "112a93e9.672dbc"
            ]
        ]
    },
    {
        "id": "4377bc73.b41d94",
        "type": "ui_text",
        "z": "3b42af96.1b72a",
        "group": "9c0aa41c.e60498",
        "order": 1,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "User input",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 270,
        "y": 320,
        "wires": []
    },
    {
        "id": "54021493.af868c",
        "type": "debug",
        "z": "3b42af96.1b72a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 610,
        "y": 140,
        "wires": []
    },
    {
        "id": "b75bba58.e182f8",
        "type": "function",
        "z": "3b42af96.1b72a",
        "name": "",
        "func": "msg.payload = msg.payload.output.text[0]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 60,
        "wires": [
            [
                "c37a63b5.65bbe"
            ]
        ]
    },
    {
        "id": "c37a63b5.65bbe",
        "type": "ui_template",
        "z": "3b42af96.1b72a",
        "group": "9c0aa41c.e60498",
        "name": "",
        "order": 2,
        "width": "6",
        "height": "5",
        "format": "<!DOCTYPE html>\n<html>\n<head>\n<style>\ndiv.scrl {\n  background-color: white;\n  width: 310px;\n  height: 400px;\n  overflow: auto;\n \n  margin-bottom:20px;\n}\n</style>\n</head>\n<body>\n<div class=\"scrl\">{{msg.payload}}</div>\n</body>\n</html>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 560,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "112a93e9.672dbc",
        "type": "watson-conversation-v1",
        "z": "3b42af96.1b72a",
        "name": "Tindog Bot",
        "workspaceid": "8875b156-4081-4ac5-945d-a0e97a8c34be",
        "multiuser": false,
        "context": true,
        "empty-payload": false,
        "service-endpoint": "https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/b8e26908-b856-4ca0-aa40-c17279ba2d67",
        "timeout": "",
        "optout-learning": false,
        "x": 370,
        "y": 100,
        "wires": [
            [
                "b75bba58.e182f8",
                "54021493.af868c"
            ]
        ]
    },
    {
        "id": "9c0aa41c.e60498",
        "type": "ui_group",
        "z": "",
        "name": "Chatbot",
        "tab": "43761bff.7481d4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "43761bff.7481d4",
        "type": "ui_tab",
        "z": "",
        "name": "UI",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]